/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*****************filter knapper****************/
.filter_h2 {
  font-size: 2.5rem;
  margin-top: 45px;
  margin-left: 31px;
}
.buttons {
  justify-content: space-evenly;
}
.filter {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 40px;
}

/* .layout {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
} */
/******************** ID *********************/
#recipes_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}


/********  Kortdesign  *******/
.blaaboks {
  display: grid;
  grid: subgrid/subgrid;
  grid-row: span 3;
  border: 2px solid var(--primary-b-color);
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  margin: 10px;
}

.blaaboks img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 300px;
  height: auto;
  display: block;
  border-radius: 50%;
} 

a {
  text-decoration: none;
}

p{
  color: #1b45a9;
   line-height: 180%;
}

h2{
  font-size: 1.8rem;
}

.p_margin{
  margin-top: 20px;
 
}

/* lidt spacing inde i kortene */
.blaaboks h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.blaaboks p {
  font-size: 20px;
  line-height: 180%;
} */
